.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
}

.section-white__padding {
  padding: 2em 2.5em;
}

.nav__logoBtn {
  z-index: 300;
}
.nav__logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  filter: invert(1);
}
.nav__logo-box:hover {
  animation: logoAnimation 0.5s;
}
.nav__logo-box {
  background: none;
  border: none;
  padding: 1.5em;
  cursor: pointer;
  z-index: 300;
}

@keyframes logoAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.nav__burgerBtn {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  margin: 1.5em;
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: transform 0.4s ease;
  z-index: 100;
}
.nav__burgerBtn-bars, .nav__burgerBtn-bars::before, .nav__burgerBtn-bars::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: #c39e6d;
  transition: all 0.4s ease;
}
.nav__burgerBtn-bars::before {
  transform: translateY(-10px);
}
.nav__burgerBtn-bars::after {
  transform: translateY(10px);
}
.open .nav__burgerBtn-bars {
  transform: translateX(-30px);
  background: transparent;
}
.open .nav__burgerBtn-bars::before {
  transform: rotate(45deg) translate(20px, -20px);
}
.open .nav__burgerBtn-bars::after {
  transform: rotate(-45deg) translate(20px, 20px);
}

.section-header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-header__title, .section-header__pretitle, .section-header__text {
  max-width: 900px;
  text-align: center;
}
.section-header__pretitle {
  padding: 1.5em 0;
  font-size: 1.6rem;
  line-height: 2.5rem;
  text-transform: uppercase;
  font-weight: 400;
  color: #c39e6d;
  order: -1;
}
.section-header__title {
  font-size: 3.2rem;
  font-weight: 400;
}
.section-header__text {
  font-size: 2rem;
  font-weight: 300;
  font-style: italic;
  line-height: 2.8rem;
}

.hl_thin,
.hl_thick {
  margin: 2em 0;
  background-color: #000;
}

.hl_thin {
  height: 1px;
  width: 50%;
  max-width: 200px;
}

.hl_thick {
  height: 5px;
  width: 40%;
  max-width: 150px;
}

@media (min-width: 375px) {
  .section-header__pretitle {
    letter-spacing: 0.1em;
  }
  .section-header__title {
    font-size: 4rem;
  }
}
@media (min-width: 576px) {
  .section-header__title {
    font-size: 4.8rem;
  }
}
@media (min-width: 768px) {
  .section-header__pretitle {
    letter-spacing: 0.3em;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

.nav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.nav__main-nav, .nav__social {
  position: fixed;
  display: flex;
  justify-content: flex-start;
  right: 0;
  width: 100%;
  transition: transform 0.4s;
  transform: translateX(100%);
  z-index: 90;
}
.nav__main-nav {
  flex-direction: column;
  align-items: flex-start;
  top: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 90;
}
.nav__social {
  flex-direction: row;
  align-items: flex-end;
  bottom: 2em;
  height: auto;
}
.nav__social li {
  list-style-type: none;
  margin: 0.5em 1em;
}
.nav__main-nav-item, .nav__nav-social {
  margin: 0.5em 1em;
  list-style-type: none;
}
.nav__main-nav-item:first-child {
  margin-top: 6em;
}
.nav__item {
  padding: 0.5em;
  font-size: 1.6rem;
  color: #c39e6d;
  text-decoration: none;
}
.nav__shadow {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  opacity: 0;
  background-color: #000;
  z-index: 10;
  transition: opacity 0.6s;
}
.nav__shadow--active {
  opacity: 0.8;
}
.nav--active {
  transform: translateX(35%);
}

@media (min-width: 992px) {
  .nav {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    left: 0;
    right: 0;
    padding: 1em 2em;
  }
  .nav__main-nav {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: right;
    width: 100%;
    max-width: 700px;
    height: auto;
    transform: translateX(0);
    background: none;
  }
  .nav__logoBtn, .nav__social {
    position: relative;
    width: 100%;
    max-width: 200px;
    transform: translateX(0);
  }
  .nav__social {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .nav__social li {
    padding: 0.6em;
  }
  .nav__logo-box {
    padding-left: 0;
  }
  .nav__item {
    padding: 0;
    font-size: 1.4rem;
  }
  .nav__main-nav-item {
    margin: 0;
  }
  .nav__main-nav-item:first-child {
    margin-top: 0;
  }
  .nav__social {
    bottom: 0;
  }
  .nav__social li {
    margin-right: 0;
  }
  .nav__item {
    position: relative;
    color: #ccc;
    transition: color 0.3s;
  }
  .nav__item:hover {
    color: #fff;
  }
  .nav__item::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: scaleX(0);
    transition: transform 0.3s;
  }
  .nav__item:hover::before {
    transform: scaleX(1);
  }
  .nav__logo-box {
    width: 110px;
  }
  .nav__burgerBtn, .nav__shadow {
    display: none;
  }
}
.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 1em;
  color: #fff;
  background-image: url(../img/hero-small.webp);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 0;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}
.header .section-header__title {
  font-weight: 500;
  line-height: 1.3em;
  font-size: 3.6rem;
}
.header .hl_thin {
  background-color: #c39e6d;
}
@media (min-width: 375px) {
  .header .section-header__title {
    font-size: 4.4rem;
    font-weight: 300;
  }
}
@media (min-width: 576px) {
  .header .section-header__title {
    font-size: 5.2rem;
  }
}
@media (min-width: 992px) {
  .header .section-header__title {
    font-size: 5.8rem;
  }
}
@media (min-width: 1100px) {
  .header .section-header__title {
    font-size: 6rem;
  }
}/*# sourceMappingURL=main.css.map */