.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
}

.main__background-color {
  position: relative;
  background-color: #fff;
  z-index: 10;
}

.nav__logoBtn {
  order: -1;
}
.nav__logo-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  filter: invert(1);
}
.nav__logo-box:hover {
  animation: logoAnimation 0.5s;
}
.nav__logo-img {
  margin: 1.5em;
  width: 65px;
  height: 100%;
}

@keyframes logoAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.nav__burgerBtn {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  margin: 1.5em;
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: transform 0.4s ease;
  z-index: 100;
}
.nav__burgerBtn-bars, .nav__burgerBtn-bars::before, .nav__burgerBtn-bars::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: #c39e6d;
  transition: all 0.4s ease;
}
.nav__burgerBtn-bars::before {
  transform: translateY(-10px);
}
.nav__burgerBtn-bars::after {
  transform: translateY(10px);
}
.open--active .nav__burgerBtn-bars {
  transform: translateX(-30px);
  background: transparent;
}
.open--active .nav__burgerBtn-bars::before {
  transform: rotate(45deg) translate(20px, -20px);
}
.open--active .nav__burgerBtn-bars::after {
  transform: rotate(-45deg) translate(20px, 20px);
}

.button {
  display: block;
  margin: 0 auto;
  padding: 1em;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.4rem;
  text-decoration: none;
  border: 3px solid #8a6c44;
  transition: background-color 0.2s, color 0.2s, filter 0.2s;
}
.button--empty {
  color: #c39e6d;
}
.button--empty:hover {
  background-color: #c39e6d;
  color: #fff;
}
.button--full {
  color: #fff;
  background-color: #8a6c44;
}
.button--full:hover {
  color: #c39e6d;
  background-color: transparent;
}

.button__header {
  margin: 3em auto 0;
}

@media (min-width: 375px) {
  .button__header {
    margin: 4em auto 0;
  }
}
@media (min-width: 768px) {
  .button__header {
    margin: 5em auto 0;
  }
}
@media (min-width: 992px) {
  .button__header {
    margin: 6em auto 0;
  }
}
.nav {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.nav__main-nav {
  position: fixed;
  display: flex;
  right: 0;
  width: 65%;
  transition: transform 0.3s, opacity 0.3s;
  transform: translateX(100%);
  z-index: 90;
  padding: 2em;
  opacity: 0;
}
.nav--active {
  transform: translateX(0);
  opacity: 1;
}
.nav__main-nav {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  top: 0;
  height: 100vh;
  background-color: #142123;
  z-index: 90;
}
.nav__main-nav-item {
  position: relative;
  padding: 0.75em 0;
  list-style-type: none;
}
.nav__item {
  font-size: 1.8rem;
  font-weight: 300;
  color: #c39e6d;
  text-decoration: none;
}
.nav__main-nav-item:first-child {
  margin-top: 2.5em;
}
.nav__shadow {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  opacity: 0;
  background-color: #000;
  transition: opacity 0.3s;
  pointer-events: none;
}
.nav__shadow:before {
  content: "";
  position: fixed;
  top: 1.5em;
  left: 1.5em;
  width: 65px;
  height: 36px;
  background-image: url("../img/icons/VA-logo-color.svg");
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
.nav__shadow--active {
  opacity: 0.9;
  pointer-events: auto;
}
.nav__dropdown {
  padding: 1em 0 0 0.5em;
}
.nav__dropdown li {
  list-style-type: none;
  padding: 0.3em 0;
}
.nav__dropdown li a {
  font-size: 1.2rem;
  font-style: italic;
}
.nav__main-nav-offer {
  position: relative;
}
.nav__main-nav-offer:before, .nav__main-nav-offer:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 15px;
  height: 2px;
  background-color: #c39e6d;
}
.nav__main-nav-offer:before {
  right: -30px;
  transform: rotate(45deg);
}
.nav__main-nav-offer:after {
  right: -40px;
  transform: rotate(-45deg);
}
.nav__ctaBtn {
  display: none;
}
.nav__droppingContact {
  display: none;
}

@media (min-width: 375px) {
  .nav__dropdown li {
    padding: 0.5em 0;
  }
  .nav__dropdown li a {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  .nav__main-nav {
    width: 45%;
    padding: 3em;
  }
  .nav__main-nav-item {
    padding: 1em 0;
  }
  .nav__item {
    font-size: 2.5rem;
    font-weight: 400;
  }
  .nav__main-nav-item:first-child {
    margin-top: 4em;
  }
  .nav__logo-img {
    margin: 3em;
    width: 90px;
  }
  .nav__burgerBtn {
    margin: 3em;
    width: 50px;
    height: 50px;
  }
  .nav__burgerBtn-bars::before {
    transform: translateY(-15px);
  }
  .nav__burgerBtn-bars::after {
    transform: translateY(15px);
  }
  .nav__shadow:before {
    top: 3em;
    left: 3em;
    width: 90px;
    height: 49.84px;
  }
  .nav__dropdown li {
    padding: 0.8em 0;
  }
  .nav__dropdown li a {
    font-size: 2rem;
  }
}
@media (min-width: 992px) {
  .nav {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    left: 0;
    right: 0;
    padding: 0 3em;
  }
  .nav__main-nav {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 700px;
    height: auto;
    transform: translateX(0);
    background: none;
  }
  .nav__logoBtn {
    position: relative;
    width: 300px;
    transform: translateX(0);
  }
  .nav__logo-img {
    margin-left: 0;
  }
  .nav__ctaBtn {
    display: block;
    width: 300px;
    text-align: right;
  }
  .nav__ctaBtn a {
    padding: 1em;
    letter-spacing: 0.2em;
    color: #fff;
    background-color: #8a6c44;
    transition: background-color 0.2s;
  }
  .nav__ctaBtn:hover a {
    background-color: #c39e6d;
  }
  .nav__droppingContact {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    text-align: right;
    padding: 0 3em;
    transform: translateY(-100%);
    transition: transform 0.2s;
  }
  .nav__droppingContact a {
    position: relative;
    top: 0.6em;
    padding: 0.6em 1.2em;
    letter-spacing: 0.1em;
    font-weight: 300;
    font-style: italic;
    font-size: 0.9em;
    text-decoration: none;
    color: #ddd;
    background-color: #202020;
    transition: color 0.2s;
  }
  .nav__droppingContact a:hover {
    color: #fff;
  }
  .nav__droppingContact--show {
    transform: translateY(0%);
  }
  .nav__droppingContact--hide {
    transform: translateY(-100%);
  }
  .nav__item {
    position: relative;
    color: #ddd;
    transition: color 0.2s;
  }
  .nav__item:hover {
    color: #fff;
  }
  .nav__main-nav-item::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #c39e6d;
    transform: scaleX(0);
    transition: transform 0.2s;
  }
  .nav__main-nav-item:hover::before {
    transform: scaleX(1);
  }
  .nav--activeUnderline:before {
    transform: scaleX(1);
  }
  .nav--activeColor {
    color: #fff;
  }
  .nav__dropdown {
    display: block;
    position: absolute;
    padding: 4em;
    left: -4em;
    transition: 0.2s ease-in-out;
    pointer-events: none;
    transform: translateY(-10px);
    opacity: 0;
  }
  .nav__dropdown .nav__item {
    display: block;
    width: 200px;
    padding: 1em 0.5em;
    color: #000;
    font-size: 1.5rem;
    font-style: normal;
    background-color: #fff;
    transition: color 0s;
  }
  .nav__dropdown .nav__item:hover {
    background-color: #c39e6d;
    color: #fff;
  }
  .nav__dropdown li {
    padding: 0;
  }
  .nav__dropdown::before {
    content: "";
    position: absolute;
    width: calc(100% - 6em);
    height: calc(100% - 6em);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  }
  .nav__main-nav-item:hover .nav__dropdown {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }
  .nav__main-nav-offer:before, .nav__main-nav-offer:after {
    display: none;
  }
  .nav__main-nav {
    padding: 0;
    opacity: 1;
  }
  .nav__item {
    padding: 2em 0;
    font-size: 1.5rem;
  }
  .nav__main-nav-item {
    margin: 0;
    padding: 0;
  }
  .nav__main-nav-item:hover {
    transform: translateX(0);
  }
  .nav__main-nav-item:first-child {
    margin-top: 0;
  }
  .nav__burgerBtn, .nav__shadow, .nav__shadow:before {
    display: none;
  }
}
@media (min-width: 1200px) {
  .nav__ctaBtn a {
    letter-spacing: 0.3em;
  }
}
.gallery__container figure,
.gallery__container img {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.gallery__figcaption {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 40px;
  font-size: 1.4rem;
  font-weight: 300;
  color: #fff;
  background-color: #202020;
  transform: translateY(40px);
  transition: transform 0.3s cubic-bezier(0, 0.76, 0.64, 1.01);
}
a:hover .gallery__figcaption {
  transform: translateY(0px);
}
.gallery__title-box {
  position: absolute;
  bottom: 20px;
  left: 10px;
  color: #fff;
  font-weight: 300;
}
.gallery__title {
  font-size: 1.6rem;
  text-transform: uppercase;
}
.gallery__caption {
  font-size: 4rem;
}

@media (min-width: 768px) {
  .gallery__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .gallery__container a {
    margin: 0.15em;
  }
  .gallery__container img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    transition: filter 0.3s;
  }
  .gallery__container img:hover {
    filter: brightness(70%);
  }
  .gallery__w100, .gallery__w33, .gallery__w66 {
    height: 45vw;
    max-height: 600px;
  }
  .gallery__w100 {
    width: 100%;
  }
  .gallery__w33 {
    width: calc(33.3333333333% - 0.3em);
  }
  .gallery__w33half {
    width: calc(33.3333333333% - 0.3em);
    height: 22.5vw;
    max-height: 300px;
  }
  .gallery__w66 {
    width: calc(66.6666666667% - 0.3em);
  }
  .gallery__title-box {
    bottom: 30px;
    left: 30px;
  }
  .gallery__title {
    font-size: 1.6rem;
    letter-spacing: 0.3em;
  }
  .gallery__caption {
    font-size: 6rem;
  }
}
.section-margin {
  padding: 2em 0;
}

@media (min-width: 768px) {
  .section-margin {
    padding: 2em 0;
  }
}
.section-header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 1em 3em;
}
.section-header__title, .section-header__pretitle, .section-header__text {
  max-width: 1100px;
  text-align: center;
}
.section-header__pretitle {
  padding: 1.5em 0;
  font-size: 1.6rem;
  line-height: 2.5rem;
  text-transform: uppercase;
  font-weight: 400;
  color: #000;
  order: -1;
}
.section-header__title {
  font-size: 3.2rem;
  font-weight: 400;
}
.section-header__text {
  font-size: 2rem;
  font-weight: 300;
  font-style: italic;
  line-height: 2.8rem;
}

.hl_thin,
.hl_thick {
  position: relative;
  width: 100%;
  height: 64px;
}

.hl_thin::after,
.hl_thick::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
}

.hl_thin::after {
  height: 1px;
  width: 50%;
  max-width: 200px;
}

.hl_thick::after {
  height: 5px;
  width: 40%;
  max-width: 150px;
}

@media (min-width: 375px) {
  .section-header__pretitle {
    letter-spacing: 0.1em;
  }
  .section-header__title {
    font-size: 4rem;
  }
}
@media (min-width: 992px) {
  .section-header__container {
    padding: 1em 1em 3em;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 1em;
  color: #fff;
  background-color: black;
  z-index: 10;
}
.header__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/grafika-01.webp);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: -10;
  animation-direction: alternate;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}
.header .section-header__title {
  font-weight: 500;
  line-height: 1.3em;
  font-size: 3.6rem;
}
.header .section-header__pretitle {
  color: #c39e6d;
}
.header .hl_thin::after {
  background-color: #c39e6d;
}
@media (min-width: 375px) {
  .header .section-header__title {
    font-size: 4.4rem;
    font-weight: 300;
  }
}
@media (min-width: 576px) {
  .header .section-header__title {
    font-size: 5.2rem;
    max-width: 700px;
  }
}
@media (min-width: 992px) {
  .header .section-header__title {
    font-size: 5.8rem;
    max-width: 800px;
  }
}
@media (min-width: 1200px) {
  .header .section-header__title {
    font-size: 6rem;
  }
}

@media (min-width: 992px) {
  .header {
    height: 85vh;
  }
}
.section-easyWork__container, .section-easyWork__title,
.section-action__container,
.section-action__title,
.section-aboutMe__container,
.section-aboutMe__title,
.section-reviews__container,
.section-reviews__title {
  line-height: 1.6em;
}
.section-easyWork__box,
.section-action__box,
.section-aboutMe__box,
.section-reviews__box {
  display: flex;
  flex-direction: column;
  padding: 1em 1em 3em;
}

@media (min-width: 375px) {
  .section-easyWork__box,
  .section-action__box,
  .section-aboutMe__box,
  .section-reviews__box {
    padding: 1em 1.5em 3em;
  }
}
@media (min-width: 768px) {
  .section-easyWork__box,
  .section-action__box,
  .section-aboutMe__box,
  .section-reviews__box {
    padding: 2em 2em 4em;
  }
  .section-easyWork__container,
  .section-action__container,
  .section-aboutMe__container,
  .section-reviews__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .section-easyWork__box,
  .section-action__box,
  .section-aboutMe__box,
  .section-reviews__box {
    padding: 3em;
  }
}
.section-action__container strong {
  font-weight: 700;
}
.section-action__title {
  order: -2;
  font-size: 2.6rem;
  font-weight: 300;
}
.section-action__box p:first-of-type {
  font-size: 2.4rem;
  font-weight: 300;
  font-style: italic;
  line-height: 1.5em;
}
.section-action__container :first-child p:first-of-type {
  font-weight: 700;
}
.section-action__box p:nth-of-type(2) {
  padding: 2em 0;
}
.section-action__line {
  order: -1;
  margin: 2em 0;
  width: 70px;
  height: 1px;
  background-color: #c39e6d;
}
.section-action__box {
  width: 100%;
}

@media (min-width: 992px) {
  .section-action__box {
    width: 33.3333333333%;
  }
  .section-action__box p:first-of-type {
    height: 500px;
    border-bottom: 1px solid #c39e6d;
  }
}
@media (min-width: 1200px) {
  .section-action__box p:first-of-type {
    height: 380px;
  }
}
.section-easyWork {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-easyWork__title {
  font-size: 1.8rem;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
}
.section-easyWork__subtitle {
  margin: 1em 0;
  font-size: 1.8rem;
  font-weight: 300;
  font-style: italic;
}
.section-easyWork__description {
  font-size: 1.6rem;
  font-weight: 400;
}
.section-easyWork__icon {
  margin-bottom: 1em;
  order: -1;
  width: 60px;
  height: 60px;
  background-size: cover;
  background-position: center;
}
.section-easyWork__iconOne {
  background-image: url(../img/icons/icojakosc2.webp);
}
.section-easyWork__iconTwo {
  background-image: url(../img/icons/icoprezyzja.webp);
}
.section-easyWork__iconThree {
  background-image: url(../img/icons/icokomunikacja.webp);
}
.section-easyWork__iconFour {
  background-image: url(../img/icons/icoczasrealizacji.webp);
}
.section-easyWork__iconFive {
  background-image: url(../img/icons/icozaangazowanie.webp);
}
.section-easyWork__iconSix {
  background-image: url(../img/icons/icokreatywnosc.webp);
}

@media (min-width: 768px) {
  .section-easyWork__box {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .section-easyWork__box {
    width: 33.3333333333%;
  }
}
.section-aboutMe {
  background-color: #202020;
}
.section-aboutMe img {
  width: 100%;
  height: 100%;
  padding: 1em;
}
.section-aboutMe__description {
  color: #c39e6d;
  font-style: italic;
  line-height: 2em;
  text-align: center;
  font-size: 1.8rem;
}
.section-aboutMe .section-header__title,
.section-aboutMe .section-header__text {
  color: #ddd;
}
.section-aboutMe .section-header__pretitle {
  color: #c39e6d;
}
.section-aboutMe .hl_thin::after,
.section-aboutMe .hl_thick::after {
  background-color: #c39e6d;
}

.button__aboutMe {
  margin: 3em auto 0;
  letter-spacing: 0.2rem;
}

@media (min-width: 576px) {
  .button__aboutMe {
    letter-spacing: 0.4rem;
  }
}
@media (min-width: 768px) {
  .section-aboutMe img {
    width: 400px;
    margin: 0 auto;
  }
  .button__aboutMe {
    margin: 3em auto 0;
  }
}
@media (min-width: 992px) {
  .section-aboutMe__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 3em;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .section-aboutMe img, .section-aboutMe__box {
    padding: 2em;
  }
  .section-aboutMe__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .section-aboutMe__description {
    text-align: left;
    line-height: 3em;
  }
  .button__aboutMe {
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .section-aboutMe {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
  }
  .section-aboutMe__container {
    height: auto;
    padding: 3em;
  }
  .section-aboutMe__container img {
    width: 500px;
  }
  .section-aboutMe img, .section-aboutMe__box {
    padding: 4em;
  }
}
.section-offer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-offer__container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.section-offer__box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  max-height: 700px;
  margin: 2em 0;
  padding: 1em;
  background-size: cover;
  background-position: center;
  color: #ddd;
  z-index: 10;
  filter: saturate(0.6);
}
.section-offer__box--One {
  background-image: url(../img/grafika-16.webp);
}
.section-offer__box--Two {
  background-image: url(../img/grafika-14.webp);
}
.section-offer__box--Three {
  background-image: url(../img/grafika-15.webp);
}
.section-offer__shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 10%, rgba(0, 0, 0, 0) 60%, #202020 100%);
  z-index: -10;
}
.section-offer__header {
  display: flex;
  flex-direction: column;
}
.section-offer__header h3 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.1em;
}
.section-offer__header h3 span {
  font-size: 1.6em;
  letter-spacing: 0;
  color: #fff;
}
.section-offer__header p {
  margin-bottom: 1.5em;
  font-size: 1.3rem;
  font-weight: 300;
  letter-spacing: 0.1em;
  order: -1;
}
.section-offer__content {
  font-size: 1.4rem;
  font-weight: 300;
}
.section-offer__content i {
  margin-right: 1em;
  color: #c39e6d;
}
.section-offer__list {
  position: relative;
  line-height: 1.5em;
}
.section-offer__list ul {
  position: relative;
}
.section-offer__list ul li {
  list-style-type: none;
  position: relative;
  padding: 0.2em 0;
  padding-left: 2em;
  color: #fff;
}
.section-offer__list ul li::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 20px;
  height: 1px;
  background-color: #c39e6d;
}
.section-offer__description {
  margin: 2em 0;
}
.section-offer__arrow {
  position: relative;
  width: 50px;
}
.section-offer__arrow, .section-offer__arrow::before, .section-offer__arrow::after {
  height: 1px;
  background-color: #c39e6d;
}
.section-offer__arrow::before, .section-offer__arrow::after {
  content: "";
  position: absolute;
  right: 0;
  width: 10px;
  transform-origin: right;
}
.section-offer__arrow::before {
  transform: rotate(45deg);
}
.section-offer__arrow::after {
  transform: rotate(-45deg);
}
.section-offer__CTA-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-offer__CTA-Btn {
  padding: 1em;
  color: #c39e6d;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.1em;
  transition: color 0.3s;
}

@media (min-width: 768px) {
  .section-offer__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .section-offer__box {
    height: 600px;
    margin: 0 0.05em 3em;
    width: 33.3333333333%;
  }
  .section-offer__description {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 50px;
    margin: 0 0 2em;
  }
}
@media (min-width: 992px) {
  .section-offer__box {
    height: 650px;
    margin: 2em 1em 3em;
    max-width: 320px;
    cursor: pointer;
  }
  .section-offer__header h3 span {
    font-size: 2em;
  }
  .section-offer__description {
    height: 80px;
  }
  .section-offer__arrow, .section-offer__arrow::before, .section-offer__arrow::after {
    transition: transform 0.3s, background-color 0.3s;
  }
  .section-offer__box:hover .section-offer__arrow {
    transform: translateX(50px);
  }
  .section-offer__box:hover .section-offer__arrow, .section-offer__box:hover .section-offer__arrow::before, .section-offer__box:hover .section-offer__arrow::after {
    background-color: #fff;
  }
  .section-offer__box:hover .section-offer__CTA-Btn {
    color: #fff;
  }
  .section-offer__shadow {
    transition: 0.3s;
  }
  .section-offer__box:hover .section-offer__shadow {
    background-color: rgba(20, 33, 35, 0.3);
  }
  .section-offer__box {
    transition: background-position 0.3s;
  }
  .section-offer__box:hover {
    background-position: center -20px;
  }
}
.section-reviews__box {
  position: relative;
  text-align: center;
}
.section-reviews__description {
  margin: 2em 0;
  text-align: center;
}
.section-reviews__name {
  font-size: 1.4rem;
  font-weight: 700;
}
.section-reviews__page {
  color: #000;
  font-size: 1.4rem;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s;
}
.section-reviews__page:hover {
  color: #c39e6d;
}
.section-reviews__icon {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  background-image: url(../img/icons/icoOpinionsQuotes.webp);
  background-size: cover;
  background-position: center;
}
.section-reviews--header {
  padding: 0 2em;
}

.section-logo__container {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 3em;
  padding: 0 1em;
}
.section-logo__box {
  width: 33.3333333333%;
  height: 60px;
  background-size: 70%;
  background-position: bottom;
  background-repeat: no-repeat;
}
.section-logo__One {
  background-image: url(../img/icons/autodesk-logo.webp);
}
.section-logo__Two {
  background-image: url(../img/icons/chaosgroup-logo.webp);
}
.section-logo__Three {
  background-image: url(../img/icons/3ds-max-logo.webp);
}
.section-logo__Four {
  background-image: url(../img/icons/Vray-logo.webp);
  transform: translateY(5px);
}
.section-logo__Five {
  background-image: url(../img/icons/Forest-Pack-logo.webp);
}
.section-logo__Six {
  background-image: url(../img/icons/Affinity-logo.webp);
}

@media (min-width: 576px) {
  .section-logo__container {
    padding: 2em;
  }
  .section-logo__box {
    height: 80px;
  }
  .section-logo__Four, .section-logo__Three {
    transform: translateY(10px);
  }
}
@media (min-width: 768px) {
  .section-reviews__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .section-reviews__box {
    width: 33.3333333333%;
  }
  .section-reviews__description {
    height: 200px;
  }
  .section-reviews__icon {
    top: 10px;
  }
  .section-logo__container {
    padding: 0 2em;
  }
  .section-logo__box {
    width: 16.6666666667%;
    height: 50px;
    background-size: 70%;
    transition: transform 0.3s;
  }
}
@media (min-width: 992px) {
  .section-reviews__description {
    height: 150px;
  }
  .section-reviews__icon {
    top: 10px;
  }
  .section-logo__container {
    padding: 0 4em;
  }
  .section-logo__box {
    height: 55px;
    opacity: 0.8;
    transition: opacity 0.2s;
  }
  .section-logo__box:hover {
    opacity: 1;
  }
  .section-logo__Four, .section-logo__Three {
    transform: translateY(15px);
  }
}
@media (min-width: 1200px) {
  .section-reviews__description {
    height: 100px;
  }
  .section-reviews__icon {
    top: 30px;
  }
  .section-logo__container {
    padding: 0 10em;
  }
}
.section-cooperation,
.footer {
  background-color: #202020;
}
.section-cooperation__container, .section-cooperation__container a, .section-cooperation__copyright,
.footer__container,
.footer__container a,
.footer__copyright {
  color: #999;
  text-decoration: none;
  font-size: 1.3rem;
}
.section-cooperation__container h3,
.section-cooperation__container span, .section-cooperation__container a h3,
.section-cooperation__container a span, .section-cooperation__copyright h3,
.section-cooperation__copyright span,
.footer__container h3,
.footer__container span,
.footer__container a h3,
.footer__container a span,
.footer__copyright h3,
.footer__copyright span {
  color: #ccc;
  font-weight: 500;
}
.section-cooperation__copyright span,
.footer__copyright span {
  color: #999;
}
.section-cooperation .section-header__title, .section-cooperation .section-header__text,
.footer .section-header__title,
.footer .section-header__text {
  color: #ddd;
}
.section-cooperation .section-header__pretitle,
.footer .section-header__pretitle {
  color: #c39e6d;
}
.section-cooperation .hl_thin::after,
.section-cooperation .hl_thick::after,
.footer .hl_thin::after,
.footer .hl_thick::after {
  background-color: #c39e6d;
}

@media (min-width: 768px) {
  .section-cooperation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 40vh;
  }
}
.section-cooperation__container {
  padding: 1em;
  text-align: center;
  font-size: 1.4rem;
  color: #ddd;
}
.section-cooperation__box {
  padding-bottom: 2em;
}
.section-cooperation__box p {
  font-weight: 300;
}
.section-cooperation__mail, .section-cooperation__phone {
  padding: 1em 0;
}
.section-cooperation__mail a, .section-cooperation__phone a {
  color: #c39e6d;
  font-size: 1.8em;
  transition: color 0.2s;
}
.section-cooperation__mail a:hover, .section-cooperation__phone a:hover {
  color: #8a6c44;
}

@media (min-width: 768px) {
  .section-cooperation__container {
    padding: 3em 1em 1em;
  }
  .section-cooperation__box p {
    font-size: 1.6rem;
  }
}
.footer__container {
  line-height: 2.5em;
  padding: 0 2em;
}
.footer__logo {
  line-height: 1.6em;
}
.footer__logo img {
  opacity: 0.7;
}
.footer__logo a:hover {
  animation: logoAnimation 0.5s;
}
.footer__logo-img {
  width: 50%;
  height: 20%;
}
.footer__box {
  position: relative;
  padding: 3em 0 0;
}
.footer__box img {
  padding-bottom: 2em;
  width: 65px;
  filter: invert(1);
}
.footer__box li {
  list-style-type: none;
}
.footer__box h3 {
  position: relative;
  padding: 1em 0;
  font-size: 1.6rem;
}
.footer__company-addres {
  padding: 1em 0;
}
.footer__social {
  position: relative;
  left: -2em;
  padding: 2em 0;
}
.footer__social a {
  padding: 2em;
}
.footer__copyright {
  padding: 2em;
}

@media (min-width: 768px) {
  .footer {
    position: sticky;
    bottom: 0;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, #202020 100%);
  }
  .footer__container {
    display: flex;
    justify-content: space-around;
  }
  .footer__box {
    padding: 0;
    width: 25%;
    transition: color 0.3s;
  }
  .footer__box a:hover {
    color: #fff;
  }
  .footer__bottom-text {
    text-align: center;
  }
  .footer__social {
    position: relative;
    left: -1.3em;
    padding: 2em 0 0;
  }
  .footer__social a {
    padding: 1.3em;
  }
  .footer__copyright {
    letter-spacing: 0.3em;
  }
}
@media (min-width: 992px) {
  .footer__box {
    width: auto;
  }
  .footer__box, .footer__box a, .footer__box span {
    font-size: 1.3rem;
    letter-spacing: 0.05em;
  }
}
main {
  position: relative;
}/*# sourceMappingURL=main.css.map */