.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1400px;
}

.section-white__padding {
    padding: 2em 2.5em;
}

// LOGO

.nav {

    &__logoBtn {
        z-index: 300;
    }

    &__logo-box {
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        border: none;
        cursor: pointer;
        filter: invert(1);
        z-index: 300;
    }

    &__logo-box:hover {
        animation: logoAnimation .5s;
    }

    &__logo-img {
        margin: 1.5em;
        width: 65px;
    }
}

// LOGO ANIMATION HOVER

@keyframes logoAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

// BURGER BUTTON

.nav {

    &__burgerBtn {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 0;
        margin: 1.5em;
        width: 35px;
        height: 35px;
        cursor: pointer;
        transition: transform .4s ease;
        z-index: 100;
    }

    &__burgerBtn-bars,
    &__burgerBtn-bars::before,
    &__burgerBtn-bars::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background: $main-Color;
        transition: all .4s ease;
    }

    &__burgerBtn-bars::before {
        transform: translateY(-10px);
    }

    &__burgerBtn-bars::after {
        transform: translateY(10px);
    }

    // ANIMATION HAMBURGER BUTTON

    .open--active &__burgerBtn-bars {
        transform: translateX(-30px);
        background: transparent;
    }

    .open--active &__burgerBtn-bars::before {
        transform: rotate(45deg) translate(20px, -20px);
    }

    .open--active &__burgerBtn-bars::after {
        transform: rotate(-45deg) translate(20px, 20px);
    }
}


// SECTION HEADER

.section-header {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title,
    &__pretitle,
    &__text {
        max-width: 900px;
        text-align: center;

    }

    &__pretitle {
        padding: 1.5em 0;
        font-size: 1.6rem;
        line-height: 2.5rem;
        text-transform: uppercase;
        font-weight: 400;
        color: $main-Color;
        order: -1;
    }


    &__title {
        font-size: 3.2rem;
        font-weight: 400;
    }

    &__text {
        font-size: 2rem;
        font-weight: 300;
        font-style: italic;
        line-height: 2.8rem;
    }
}

.hl_thin,
.hl_thick {
    margin: 2em 0;
    background-color: $pure-black;
}

.hl_thin {
    height: 1px;
    width: 50%;
    max-width: 200px;
}

.hl_thick {
    height: 5px;
    width: 40%;
    max-width: 150px;
}

@media(min-width: 375px) {
    .section-header {

        &__pretitle {
            letter-spacing: .1em;
        }

        &__title {
            font-size: 4rem;
        }
    }
}

@media(min-width: 576px) {
    .section-header {
        &__title {
            font-size: 4.8rem;
        }
    }
}

@media(min-width: 768px) {
    .section-header {
        &__pretitle {
            letter-spacing: .3em;
        }
    }
}

// GALLERY

.gallery {
    &__container {

        figure,
        img {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
    }

    &__figcaption {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0;
        width: 100%;
        height: 40px;
        font-size: 1.4rem;
        font-weight: 300;
        color: $pure-white;
        background-color: $complementary-Color;
        transform: translateY(40px);
        transition: transform .3s cubic-bezier(0, .76, .64, 1.01);
    }

    a:hover &__figcaption {
        transform: translateY(0px);
    }

    &__title-box {
        position: absolute;
        bottom: 20px;
        left: 10px;
        color: $pure-white;
        font-weight: 300;
    }

    &__title {
        font-size: 1.6rem;
        text-transform: uppercase;
    }

    &__caption {
        font-size: 4rem;
    }
}


@media(min-width: 768px) {

    .gallery {
        &__container {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;

            a {
                margin: .15em;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: filter .3s;
            }

            img:hover {
                filter: brightness(70%);
            }
        }

        &__w100,
        &__w33,
        &__w66 {
            height: 45vw;
            max-height: 600px;
        }

        &__w100 {
            width: 100%;
        }

        &__w33 {
            width: calc((100% / 3) - .3em);
        }

        &__w33half {
            width: calc((100% / 3) - .3em);
            height: 22.5vw;
            max-height: 300px;
        }

        &__w66 {
            width: calc((100% / 3) * 2 - .3em);
        }

        &__title-box {
            bottom: 30px;
            left: 30px;
        }

        &__title {
            font-size: 1.6rem;
            letter-spacing: .3em;
        }

        &__caption {
            font-size: 6rem;
        }
    }
}