.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1400px;
}

.main__background-color {
    position: relative;
    background-color: $pure-white;
    z-index: 10;
}

// LOGO

.nav {

    &__logoBtn {
        order: -1;
    }

    &__logo-box {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background: none;
        border: none;
        cursor: pointer;
        filter: invert(1);
    }

    &__logo-box:hover {
        animation: logoAnimation .5s;
    }

    &__logo-img {
        margin: 1.5em;
        width: 65px;
    }
}

@keyframes logoAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

// BURGER BUTTON

.nav {

    &__burgerBtn {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 0;
        margin: 1.5em;
        width: 35px;
        height: 35px;
        cursor: pointer;
        transition: transform .4s ease;
        z-index: 100;
    }

    &__burgerBtn-bars,
    &__burgerBtn-bars::before,
    &__burgerBtn-bars::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background: $main-Color;
        transition: all .4s ease;
    }

    &__burgerBtn-bars::before {
        transform: translateY(-10px);
    }

    &__burgerBtn-bars::after {
        transform: translateY(10px);
    }

    // ANIMATION HAMBURGER BUTTON

    .open--active &__burgerBtn-bars {
        transform: translateX(-30px);
        background: transparent;
    }

    .open--active &__burgerBtn-bars::before {
        transform: rotate(45deg) translate(20px, -20px);
    }

    .open--active &__burgerBtn-bars::after {
        transform: rotate(-45deg) translate(20px, 20px);
    }
}

// BUTTON

.button {
    display: block;
    margin: 0 auto;
    padding: 1em;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: .4rem;
    text-decoration: none;
    border: 3px solid $main-Color;
    transition: background-color .2s, color .2s, filter .2s, ;

    &--empty {
        color: $main-Color;
    }

    &--empty:hover {
        background-color: $main-Color;
        color: $pure-white;
    }

    &--full {
        color: $pure-white;
        background-color: $main-Color;
    }

    &--full:hover {
        color: $main-Color;
        background-color: transparent;
    }
}

.button {
    &__header {
        margin: 3em auto 0;
    }
}

@media(min-width: 375px) {
    .button {
        &__header {
            margin: 4em auto 0;
        }
    }
}

@media(min-width: 768px) {
    .button {
        &__header {
            margin: 5em auto 0;
        }
    }
}

@media(min-width: 992px) {
    .button {
        &__header {
            margin: 6em auto 0;
        }
    }
}

// NAVIGATION

.nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

    &__main-nav {
        position: fixed;
        display: flex;
        right: 0;
        width: 65%;
        transition: transform .3s, opacity .3s;
        transform: translateX(100%);
        z-index: 90;
        padding: 2em;
        opacity: 0;
    }

    &--active {
        transform: translateX(0);
        opacity: 1;
    }

    &__main-nav {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        top: 0;
        height: 100vh;
        background-color: $navigation;
        z-index: 90;
    }

    &__main-nav-item {
        position: relative;
        padding: .75em 0;
        list-style-type: none;
    }

    &__item {
        font-size: 1.8rem;
        font-weight: 300;
        color: $main-Color;
        text-decoration: none;
    }

    &__main-nav-item:first-child {
        margin-top: 2.5em;
    }

    &__shadow {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        opacity: 0;
        background-color: $pure-black;
        transition: opacity .3s;
        pointer-events: none;
    }

    &__shadow:before {
        content: '';
        position: fixed;
        top: 1.5em;
        left: 1.5em;
        width: 65px;
        height: 36px;
        background-image: url('../img/icons/VA-logo-color.svg');
        background-size: cover;
        background-position: center;
        cursor: pointer;
    }

    &__shadow--active {
        opacity: .9;
        pointer-events: auto;
    }

    // DROPDOWN MENU

    &__dropdown {
        padding: 1em 0 0 .5em;

        li {
            list-style-type: none;
            padding: .3em 0;

            a {
                font-size: 1.2rem;
                font-style: italic;
            }
        }
    }

    &__main-nav-offer {
        position: relative;
    }

    &__main-nav-offer:before,
    &__main-nav-offer:after {
        content: '';
        position: absolute;
        top: 50%;
        width: 15px;
        height: 2px;
        background-color: $main-Color;
    }

    &__main-nav-offer:before {
        right: -30px;
        transform: rotate(45deg);
    }

    &__main-nav-offer:after {
        right: -40px;
        transform: rotate(-45deg);
    }

    // CTA BUTTON

    &__ctaBtn {
        display: none;
    }

    // DROPPING CONTACT

    &__droppingContact {
        display: none;
    }
}

// NAVIGATION MEDIA
@media(min-width: 375px) {
    .nav {
        &__dropdown {

            li {
                padding: .5em 0;

                a {
                    font-size: 1.5rem;
                }
            }
        }
    }
}

@media(min-width: 768px) {

    .nav {

        &__main-nav {
            width: 45%;
            padding: 3em;
        }

        &__main-nav-item {
            padding: 1em 0;
        }

        &__item {
            font-size: 2.5rem;
            font-weight: 400;
        }

        &__main-nav-item:first-child {
            margin-top: 4em;
        }

        &__logo-img {
            margin: 3em;
            width: 90px;
        }

        &__burgerBtn {
            margin: 3em;
            width: 50px;
            height: 50px;
        }

        &__burgerBtn-bars::before {
            transform: translateY(-15px);
        }

        &__burgerBtn-bars::after {
            transform: translateY(15px);
        }

        &__shadow:before {
            top: 3em;
            left: 3em;
            width: 90px;
            height: 49.84px;
        }

        &__dropdown {

            li {
                padding: .8em 0;

                a {
                    font-size: 2rem;
                }
            }
        }
    }
}

@media(min-width: 992px) {
    .nav {
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        left: 0;
        right: 0;
        padding: 0 3em;

        &__main-nav {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            max-width: 700px;
            height: auto;
            transform: translateX(0);
            background: none;
        }

        // LOGO

        &__logoBtn {
            position: relative;
            width: 300px;
            transform: translateX(0);
        }

        &__logo-img {
            margin-left: 0;
        }

        // CTA BUTTON

        &__ctaBtn {
            display: block;
            width: 300px;
            text-align: right;

            a {
                padding: 1em;
                letter-spacing: .2em;
                color: $pure-white;
                background-color: $main-Color;
                transition: background-color .2s;
            }
        }

        &__ctaBtn:hover a {
            background-color: $main-Color__Hover;
        }

        // DROPPING CONTACT

        &__droppingContact {
            display: block;
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            height: 50px;
            text-align: right;
            padding: 0 3em;

            transform: translateY(-100%);

            transition: transform .2s;

            a {
                position: relative;
                top: .6em;
                padding: .6em 1.2em;
                letter-spacing: .1em;
                font-weight: 300;
                font-style: italic;
                font-size: .9em;
                text-decoration: none;
                color: $light-white;
                background-color: $complementary-Color;
                transition: color .2s;
            }

            a:hover {
                color: $pure-white;
            }
        }

        &__droppingContact--show {
            transform: translateY(0%);
        }

        &__droppingContact--hide {
            transform: translateY(-100%);
        }

        // HOVER ANIMATIONS

        &__item {
            position: relative;
            color: $light-white;
            transition: color .2s;
        }

        &__item:hover {
            color: $pure-white;
        }

        &__main-nav-item::before {
            content: '';
            position: absolute;
            bottom: -10px;
            left: 0;
            right: 0;
            width: 100%;
            height: 2px;
            background-color: $main-Color;
            transform: scaleX(0);
            transition: transform .2s;
        }

        &__main-nav-item:hover::before {
            transform: scaleX(1);
        }

        // UNDERLINE ACTIVE PAGE

        &--activeUnderline:before {
            transform: scaleX(1);
        }

        &--activeColor {
            color: $pure-white;
        }

        // DROPDOWN MENU

        &__dropdown {
            display: block;
            position: absolute;
            padding: 4em;
            left: -4em;
            transition: .2s ease-in-out;
            pointer-events: none;
            transform: translateY(-10px);
            opacity: 0;

            .nav__item {
                display: block;
                width: 200px;
                padding: 1em .5em;
                color: $pure-black;
                font-size: 1.5rem;
                font-style: normal;
                background-color: $pure-white;
                transition: color 0s;
            }

            .nav__item:hover {
                background-color: $main-Color;
                color: $pure-white;
            }

            li {
                padding: 0;
            }
        }

        &__dropdown::before {
            content: '';
            position: absolute;
            width: calc(100% - 6em);
            height: calc(100% - 6em);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $pure-white;
            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
        }

        &__main-nav-item:hover &__dropdown {
            opacity: 1;
            pointer-events: auto;
            transform: translateY(0);
        }

        &__main-nav-offer:before,
        &__main-nav-offer:after {
            display: none;
        }

        // RESET

        &__main-nav {
            padding: 0;
            opacity: 1;
        }

        &__item {
            padding: 2em 0;
            font-size: 1.5rem;
        }

        &__main-nav-item {
            margin: 0;
            padding: 0;
        }

        &__main-nav-item:hover {
            transform: translateX(0);
        }

        &__main-nav-item:first-child {
            margin-top: 0;
        }

        // BURGER BUTTON & SHADOW

        &__burgerBtn,
        &__shadow,
        &__shadow:before {
            display: none;
        }
    }
}

@media(min-width: 1200px) {

    .nav {
        &__ctaBtn {
            a {
                letter-spacing: .3em;
            }
        }
    }
}



// GALLERY

.gallery {

    &__container {

        figure,
        img {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
    }

    &__figcaption {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0;
        width: 100%;
        height: 40px;
        font-size: 1.4rem;
        font-weight: 300;
        color: $pure-white;
        background-color: $complementary-Color;
        transform: translateY(40px);
        transition: transform .3s cubic-bezier(0, .76, .64, 1.01);
    }

    a:hover &__figcaption {
        transform: translateY(0px);
    }

    &__title-box {
        position: absolute;
        bottom: 20px;
        left: 10px;
        color: $pure-white;
        font-weight: 300;
    }

    &__title {
        font-size: 1.6rem;
        text-transform: uppercase;
    }

    &__caption {
        font-size: 4rem;
    }
}


@media(min-width: 768px) {

    .gallery {
        &__container {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;

            a {
                margin: .15em;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: filter .3s;
            }

            img:hover {
                filter: brightness(70%);
            }
        }

        &__w100,
        &__w33,
        &__w66 {
            height: 45vw;
            max-height: 600px;
        }

        &__w100 {
            width: 100%;
        }

        &__w33 {
            width: calc((100% / 3) - .3em);
        }

        &__w33half {
            width: calc((100% / 3) - .3em);
            height: 22.5vw;
            max-height: 300px;
        }

        &__w66 {
            width: calc((100% / 3) * 2 - .3em);
        }

        &__title-box {
            bottom: 30px;
            left: 30px;
        }

        &__title {
            font-size: 1.6rem;
            letter-spacing: .3em;
        }

        &__caption {
            font-size: 6rem;
        }
    }
}

// SECTION MARGIN

.section-margin {
    padding: 2em 0;
}

@media(min-width: 768px) {

    .section-margin {
        padding: 2em 0;
    }
}

// SECTION HEADER

.section-header {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em 1em 3em;
    }

    &__title,
    &__pretitle,
    &__text {
        max-width: 1100px;
        text-align: center;
    }

    &__pretitle {
        padding: 1.5em 0;
        font-size: 1.6rem;
        line-height: 2.5rem;
        text-transform: uppercase;
        font-weight: 400;
        color: $main-Color;
        order: -1;
    }

    &__title {
        font-size: 3.2rem;
        font-weight: 400;
    }

    &__text {
        font-size: 2rem;
        font-weight: 300;
        font-style: italic;
        line-height: 2.8rem;
    }
}

.hl_thin,
.hl_thick {
    position: relative;
    width: 100%;
    height: 64px;
}

.hl_thin::after,
.hl_thick::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $pure-black;
}

.hl_thin::after {
    height: 1px;
    width: 50%;
    max-width: 200px;
}

.hl_thick::after {
    height: 5px;
    width: 40%;
    max-width: 150px;
}

@media(min-width: 375px) {
    .section-header {

        &__pretitle {
            letter-spacing: .1em;
        }

        &__title {
            font-size: 4rem;
        }
    }
}

@media(min-width: 992px) {
    .section-header {
        &__container {
            padding: 1em 1em 3em;
        }
    }
}