.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1400px;
}

.section-white__padding {
    padding: 2em 2.5em;
}

// LOGO

.nav {

    &__logoBtn {
        z-index: 300;
    }

    &__logo-box {
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        border: none;
        cursor: pointer;
        filter: invert(1);
        z-index: 300;
    }

    &__logo-box:hover {
        animation: logoAnimation .5s;
    }

    &__logo-img {
        margin: 1.5em;
        width: 65px;
    }
}

// LOGO ANIMATION HOVER

@keyframes logoAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

// BURGER BUTTON

.nav {

    &__burgerBtn {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 0;
        margin: 1.5em;
        width: 35px;
        height: 35px;
        cursor: pointer;
        transition: transform .4s ease;
        z-index: 100;
    }

    &__burgerBtn-bars,
    &__burgerBtn-bars::before,
    &__burgerBtn-bars::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background: $main-Color;
        transition: all .4s ease;
    }

    &__burgerBtn-bars::before {
        transform: translateY(-10px);
    }

    &__burgerBtn-bars::after {
        transform: translateY(10px);
    }

    // ANIMATION HAMBURGER BUTTON

    .open--active &__burgerBtn-bars {
        transform: translateX(-30px);
        background: transparent;
    }

    .open--active &__burgerBtn-bars::before {
        transform: rotate(45deg) translate(20px, -20px);
    }

    .open--active &__burgerBtn-bars::after {
        transform: rotate(-45deg) translate(20px, 20px);
    }
}

// NAVIGATION

.nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

    &__main-nav,
    &__social {
        position: fixed;
        display: flex;
        right: 0;
        width: 65%;
        transition: transform .3s;
        transform: translateX(100%);
        z-index: 90;
        padding: 2em;
    }

    &--active {
        transform: translateX(0);
    }

    &__main-nav {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        top: 0;
        height: 100vh;
        background-color: $complementary-Color;
        z-index: 90;
    }

    &__social {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        bottom: 0;
        height: auto;

        li {
            list-style-type: none;
            transition: transform .3s;
        }

        li:hover {
            transform: translateY(-10px);
        }
    }

    &__main-nav-item {
        padding: .75em 0;
        list-style-type: none;
        transition: transform .3s;
    }

    &__main-nav-item:hover {
        transform: translateX(10px);
    }

    &__item {
        font-size: 1.8rem;
        font-weight: 300;
        color: $main-Color;
        text-decoration: none;
    }

    &__main-nav-item:first-child {
        margin-top: 2.5em;
    }

    &__shadow {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        opacity: 0;
        background-color: $pure-black;
        z-index: 10;
        transition: opacity .4s;
    }

    &__shadow--active {
        opacity: .9;
    }
}

// NAVIGATION MEDIA

@media(min-width: 768px) {

    .nav {

        &__main-nav,
        &__social {
            width: 45%;
            padding: 3em;
        }

        &__main-nav-item {
            padding: 1em 0;
        }

        &__item {
            font-size: 2.5rem;
            font-weight: 400;
        }

        &__main-nav-item:first-child {
            margin-top: 4em;
        }

        &__logo-img {
            margin: 3em;
            width: 90px;
        }

        &__burgerBtn {
            margin: 3em;
            width: 50px;
            height: 50px;
        }

        &__burgerBtn-bars::before {
            transform: translateY(-15px);
        }

        &__burgerBtn-bars::after {
            transform: translateY(15px);
        }
    }
}

@media(min-width: 992px) {
    .nav {
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        left: 0;
        right: 0;
        padding: 0 3em;

        &__main-nav {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            max-width: 700px;
            height: auto;
            transform: translateX(0);
            background: none;
        }

        // LOGO & SOCIAL CONTAINER

        &__logoBtn,
        &__social {
            position: relative;
            max-width: 200px;
            transform: translateX(0);
        }

        &__social {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;

            a {
                padding: 1em;
                transition: color .2s;
            }

            a:hover {
                color: $main-Color;
            }

            li {
                transition: transform .2s;
            }

            li:hover {
                transform: translateY(-5px);
            }
        }

        &__logo-img {
            margin-left: 0;
        }

        // HOVER ANIMATIONS

        &__item {
            position: relative;
            color: $light-white;
            transition: color .2s;
        }

        &__item:hover {
            color: $pure-white;
        }

        &__main-nav-item::before {
            content: '';
            position: absolute;
            bottom: -10px;
            left: 0;
            right: 0;
            width: 100%;
            height: 2px;
            background-color: $main-Color;
            transform: scaleX(0);
            transition: transform .2s;
        }

        &__main-nav-item:hover::before {
            transform: scaleX(1);
        }

        // RESET

        &__main-nav,
        &__social {
            padding: 0;
        }

        &__item {
            padding: 2em 0;
            font-size: 1.5rem;
        }

        &__main-nav-item {
            margin: 0;
            padding: 0;
        }

        &__main-nav-item:hover {
            transform: translateX(0);
        }

        &__main-nav-item:first-child {
            margin-top: 0;
        }

        &__social {
            bottom: 0;

            li {
                margin-right: 0;
            }
        }

        // BURGER BUTTON & SHADOW

        &__burgerBtn,
        &__shadow {
            display: none;
        }
    }
}

// GALLERY

.gallery {
    &__container {

        figure,
        img {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
    }

    &__figcaption {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0;
        width: 100%;
        height: 40px;
        font-size: 1.4rem;
        font-weight: 300;
        color: $pure-white;
        background-color: $complementary-Color;
        transform: translateY(40px);
        transition: transform .3s cubic-bezier(0, .76, .64, 1.01);
    }

    a:hover &__figcaption {
        transform: translateY(0px);
    }

    &__title-box {
        position: absolute;
        bottom: 20px;
        left: 10px;
        color: $pure-white;
        font-weight: 300;
    }

    &__title {
        font-size: 1.6rem;
        text-transform: uppercase;
    }

    &__caption {
        font-size: 4rem;
    }
}


@media(min-width: 768px) {

    .gallery {
        &__container {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;

            a {
                margin: .15em;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: filter .3s;
            }

            img:hover {
                filter: brightness(70%);
            }
        }

        &__w100,
        &__w33,
        &__w66 {
            height: 45vw;
            max-height: 600px;
        }

        &__w100 {
            width: 100%;
        }

        &__w33 {
            width: calc((100% / 3) - .3em);
        }

        &__w33half {
            width: calc((100% / 3) - .3em);
            height: 22.5vw;
            max-height: 300px;
        }

        &__w66 {
            width: calc((100% / 3) * 2 - .3em);
        }

        &__title-box {
            bottom: 30px;
            left: 30px;
        }

        &__title {
            font-size: 1.6rem;
            letter-spacing: .3em;
        }

        &__caption {
            font-size: 6rem;
        }
    }
}

// SECTION HEADER

.section-header {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title,
    &__pretitle,
    &__text {
        max-width: 900px;
        text-align: center;

    }

    &__pretitle {
        padding: 1.5em 0;
        font-size: 1.6rem;
        line-height: 2.5rem;
        text-transform: uppercase;
        font-weight: 400;
        color: $main-Color;
        order: -1;
    }


    &__title {
        font-size: 3.2rem;
        font-weight: 400;
    }

    &__text {
        font-size: 2rem;
        font-weight: 300;
        font-style: italic;
        line-height: 2.8rem;
    }
}

.hl_thin,
.hl_thick {
    margin: 2em 0;
    background-color: $pure-black;
}

.hl_thin {
    height: 1px;
    width: 50%;
    max-width: 200px;
}

.hl_thick {
    height: 5px;
    width: 40%;
    max-width: 150px;
}

@media(min-width: 375px) {
    .section-header {

        &__pretitle {
            letter-spacing: .1em;
        }

        &__title {
            font-size: 4rem;
        }
    }
}

@media(min-width: 576px) {
    .section-header {
        &__title {
            font-size: 4.8rem;
        }
    }
}

@media(min-width: 768px) {
    .section-header {
        &__pretitle {
            letter-spacing: .3em;
        }
    }
}