.header {

    &__img {

        // MAIN PAGE

        &--main {
            background-image: url(../img/header-main-mobile.webp);
        }

        &--offer {
            background-image: url(../img/header-oferta-mobile.webp);
        }

        &--cooperation {
            background-image: url(../img/header-wspolpraca-mobile.webp);
        }
    }
}

@media(min-width: 720px) {
    .header {
        &__img {

            // MAIN PAGE

            &--main {
                background-image: url(../img/header-main.webp);
            }

            &--offer {
                background-image: url(../img/header-oferta.webp);
            }

            &--cooperation {
                background-image: url(../img/header-wspolpraca.webp);
            }
        }
    }
}

@media(min-width: 1400px) {
    .header {
        &__img {

            // MAIN PAGE

            &--main {
                background-image: url(../img/header-main-hd.webp);
            }

            &--offer {
                background-image: url(../img/header-oferta-hd.webp);
            }

            &--cooperation {
                background-image: url(../img/header-wspolpraca-hd.webp);
            }
        }
    }
}