// SUBSITE OFFER

.section-offerMain {

    margin: 0 0 4em;

    &__line {
        width: 70px;
        height: 1px;
        margin: 2em 0;
        background-color: $main-Color;
    }

    &__BgColor {
        background-color: rgb(245, 245, 245);
    }

    &__img {

        img {
            width: 100%;
            height: 100%;
            padding: 2em 2em 0;
        }
    }

    &__container {

        padding: 2em;

        h3,
        h4,
        p {
            line-height: 1.6em;
        }

        h3 {
            font-weight: 500;
            font-size: 2.6rem;
        }

        p {
            font-size: 1.8rem;
        }
    }

    &__box {
        margin-bottom: 5em;
    }

    &__features {

        margin-bottom: 5em;

        h4 {
            font-size: 1.8rem;
        }

        p {
            font-style: italic;
        }

        &--title {
            margin-top: 2em;
            color: $main-Color__darkTwo;
            letter-spacing: .1rem;
            font-weight: 700;
        }
    }

    &__buttons {

        .button-offerMain {
            margin: 2em 0 0;
        }
    }
}

@media(min-width: 768px) {

    .section-offerMain {

        display: flex;
        margin: 0 0 6em;
        padding: 1.5em;

        &__img {
            width: 40%;

            &--left {
                order: 0;
            }

            &--right {
                order: 2;
            }

            img {
                width: 100%;
                height: auto;
                padding: 1.5em;
            }
        }

        &__container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 60%;
            padding: 1.5em;

            h3 {
                font-weight: 300;
            }

            p {
                font-style: italic;
            }
        }

        &__box {
            margin-bottom: 5em;
        }

        &__features {
            margin: 0;
            margin-bottom: 5em;
        }

        &__buttons {

            .button-offerMain {
                margin: 2em 0 auto 0;
            }
        }
    }
}


@media(min-width: 1024px) {
    .section-offerMain {

        &__buttons {
            display: flex;
            justify-content: space-between;

            .button-offerMain {
                letter-spacing: .25rem;
            }
        }

        &__buttons--right {
            justify-content: flex-end;
        }
    }
}

@media(min-width: 1200px) {

    .section-offerMain {

        padding: 2em;

        &__img {
            width: 58%;

            img {
                padding: 2em;
            }
        }

        &__container {
            width: 42%;
            padding: 2em;
        }

        &__box {
            margin-bottom: 3em;
        }

        &__features {

            margin: 0;

            p {
                font-size: 1.6rem;
            }
        }
    }

    // SUBSITE OFFER - w100

    .section-offerMain {

        &--w100 {
            position: relative;
            padding: 0;
        }

        &__img--w100 {
            width: 100%;

            img {
                padding: 0;
                background-color: $pure-black;
            }
        }

        &__img--w100::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, rgba(0, 0, 0, .8) 0%, rgba(0, 0, 0, 0) 100%);
        }

        &__container--w100 {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 4em;
            z-index: 10;
        }

        &__box--w100 {
            display: flex;
            flex-direction: column;
            margin: 0;
            color: $light-white;

            h3 {
                font-size: 4.2rem;

                strong {
                    font-weight: 500;
                }
            }

            p {
                width: 500px;
                margin-bottom: 2em;
                font-size: 2rem;
                line-height: 2.1em;
                order: -2;
            }
        }

        &__line--w100 {
            order: -1;
        }

        &__buttons--w100 {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 42%;
            padding: 2em 4em 4em 2em;
        }
    }
}


// SUBSITE REALIZATIONS

.section-realizations {

    &__container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1em;

        p {
            font-size: 1.3rem;
            letter-spacing: .05em;
            color: rgb(100, 100, 100);

            span {
                color: $pure-black;
            }
        }
    }

    &__item {
        margin: 0.5em;
    }

    &__item p:first-child {
        margin-bottom: .5em;
    }

    &__One,
    &__Two {
        width: 45%;
    }

    &__Three {
        width: 10%;
    }
}

@media(min-width: 768px) {
    .section-realizations {
        &__container {
            width: 70%;
            margin-left: auto;
        }
    }
}

@media(min-width: 1200px) {
    .section-realizations {
        &__container {
            width: 45%;
        }
    }
}

// SUBSITE COOPERATION

.section-cooperation {

    &__box {
        padding: 4em 1.5em;

        h3,
        p,
        li {
            font-weight: 300;
            line-height: 1.4em;
        }

        strong {
            font-weight: 700;
        }
    }

    &__title {
        position: relative;
    }

    &__title h3 {
        font-size: 2.6rem;
        font-weight: 300;
    }

    &__title h3::before {
        position: absolute;
        top: -150%;
        font-size: 5rem;
        font-weight: 700;
        color: $main-Color;
        opacity: .5;
    }

    &__title--One h3::before {
        content: "1";
    }

    &__title--Two h3::before {
        content: "2";
    }

    &__title--Three h3::before {
        content: "3";
    }

    &__title--Four h3::before {
        content: "4";
    }

    &__description p {
        font-size: 2rem;
        font-style: italic;
        padding-bottom: 2em;
    }

    &__list {
        li {
            font-size: 1.6rem;
            margin-bottom: 1em;
            font-weight: 400;
        }

        ul {
            margin-left: 1.5em;
        }
    }
}

.section-accordion {
    &__container {
        width: 90%;
        max-width: 900px;
        margin: 3em auto;
    }

    &__item {
        border-top: 1px solid $main-Color;
    }

    &__item:last-child {
        border-bottom: 1px solid $main-Color;
    }

    &__header {
        position: relative;
        padding: 2em 0;
        text-align: left;

        h3 {
            font-weight: 400;
            font-size: 2.2rem;
        }
    }

    &__body {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }

    &__content {
        margin-bottom: 3em;
        text-align: left;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.6em;

        ul {
            text-align: left;
            margin: 3em 2em 0;

            li {
                margin-top: 1em;
            }
        }
    }
}

@media(min-width: 768px) {
    .section-cooperation {

        &__box {
            padding: 5em 2em;

            h3,
            p,
            li {
                line-height: 1.5em;
            }
        }

        &__title h3::before {
            top: -150%;
            font-size: 6rem;
        }

        &__description p {
            font-size: 2.4rem;
        }

        &__list {
            li {
                font-size: 1.8rem;
            }
        }
    }

    .section-accordion {
        &__header {
            h3 {
                font-size: 2.4rem;
            }
        }

        &__content {
            font-size: 1.8rem;
        }
    }
}

@media(min-width: 992px) {
    .section-cooperation {

        &__title,
        &__description,
        &__list {
            width: calc(100% / 3);
            padding: 3em;
        }

        &__container {
            margin-top: 3em;
        }

        &__box {
            display: flex;
            margin-bottom: 3em;
            padding: 0;
            border-top: 1px solid $main-Color;

            h3,
            p,
            li {
                line-height: 1.6em;
            }

            .section-action__line {
                display: none;
            }
        }

        &__title h3::before {
            top: 48%;
            font-weight: 500;
            font-size: 11rem;
        }

        &__title h3::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 18%;
            width: 100px;
            height: 100px;
            background-image: url(../img/icons/icons-cooperation.webp);
            background-size: cover;
            background-repeat: no-repeat;

        }

        &__title--One h3::after {
            background-position: 0px;
        }

        &__title--Two h3::after {
            background-position: -100px;
        }

        &__title--Three h3::after {
            background-position: -200px;
        }

        &__title--Four h3::after {
            background-position: -300px;
        }


        &__description p {
            font-size: 1.8rem;
            padding-bottom: 0;
        }

        &__list {
            li {
                font-size: 1.5rem;
                list-style: disc;
            }

            ul {
                margin-left: 0;
            }
        }
    }

    .section-accordion {

        &__header {
            text-align: center;
            cursor: pointer;

            h3 {
                font-size: 2.4rem;
            }
        }

        &__content {
            text-align: center;
            font-size: 1.8rem;
            font-weight: 300;
        }
    }

}


// SUBSITE CONTACT

.section-contact {
    padding: 8em 0 2em;
    background-color: $complementary-Color;

    .section-header {

        &__title,
        &__text {
            color: $light-white;
        }

        &__pretitle {
            color: $main-Color;
        }
    }

    .hl_thin::after,
    .hl_thick::after {
        background-color: $main-Color;
    }

    &__container {
        padding: 1em;
        text-align: center;
        color: $light-white;
    }

    &__box {
        padding-bottom: 2em;

        p {
            font-size: 1.8rem;
            font-weight: 300;
        }
    }

    &__mail,
    &__phone {
        padding: 1em 0;

        a {
            color: $main-Color;
            text-decoration: none;
        }
    }
}

@media(min-height: 1200px) {
    .section-contact {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        height: 60vh;
    }
}