@import '../sass/colors';
@import '../sass/components';


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}


// NAVIGATION

.nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: .5em;
    left: .5em;
    right: .5em;
    z-index: 100;

    &__main-nav,
    &__others-nav {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        right: 0;
        width: 100%;
        transform: translateX(100%);
        transition: .4s;
        z-index: 200;
        background-color: $pure-black;
        opacity: .9;
    }

    &__main-nav {
        justify-content: flex-start;
        top: 0;
        height: 100vh;
    }

    &__others-nav {
        justify-content: flex-end;
        bottom: 0;
        height: 25vh;
    }

    &__item {
        font-size: 1.6rem;
        text-decoration: none;
        color: $main-Color;
    }

    &__main-nav-item,
    &__contact-item,
    &__lang-item,
    &__social-item {
        margin: .5em 2em;
    }

    &__social {
        margin: 2em 0;
    }

    &__main-nav-item:first-child {
        margin-top: 3.5em;
    }

    &__social-item {
        margin-right: .1em;
    }

    &--active {
        transform: translateX(0);
    }
}


@media(min-width: 992px) {
    .nav {
        display: block;
        justify-content: center;

        top: 0;
        left: 0;
        right: 0;

        &__burgerBtn {
            display: none;
        }

        &__desktop {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2em;
        }

        &__main-nav,
        &__others-nav {
            position: relative;
            align-items: center;
            display: block;
            transform: translateX(0);
            background-color: transparent;
            height: auto;
        }

        &__main-nav {
            text-align: center;
        }

        &__others-nav {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }

        &__others-nav,
        &__logoBtn {
            width: 370px;
        }

        &__logo-box {
            width: 100px;
            padding-left: 0;
        }

        &__item {
            font-size: .95em;
            color: $pure-white;
        }

        &__main-nav-item,
        &__contact-item,
        &__lang-item,
        &__social-item {
            margin: 0 .9em;
        }

        &__social {
            margin: 0;
        }

        &__social-item {
            margin: 0;
            margin-left: .5em;
        }


        // HOVER ANIMATIONS

        &__main-nav-item,
        &__contact-item,
        &__lang-item,
        &__social-item {
            position: relative;
            color: $light-white;
            transition: color .3s;
        }

        &__main-nav-item:hover,
        &__contact-item:hover,
        &__lang-item:hover,
        &__social-item:hover {
            color: $pure-white;
        }

        &__main-nav-item::before,
        &__contact-item::before,
        &__lang-item::before {
            content: '';
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: $pure-white;
            transform: scaleX(0);
            transition: transform .3s;
        }

        &__main-nav-item:hover::before,
        &__contact-item:hover::before,
        &__lang-item:hover::before {
            transform: scaleX(100%);
        }
    }
}

@media(min-width: 1200px) {
    .nav {

        &__main-nav-item,
        &__contact-item {
            margin: 0 1.5em;
        }
    }
}

@media(min-width: 1400px) {
    .nav {

        &__main-nav-item,
        &__contact-item {
            margin: 0 2em;
        }

        &__others-nav,
        &__logoBtn {
            width: 450px;
        }

        &__social {
            margin-left: 1.5em;
        }
    }
}

@media(min-width: 1600px) {
    .nav {
        &__item {
            font-size: 1.6rem;
        }

        &__social-item {
            margin-left: .5em;
        }
    }
}

// HEADER 

.header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 1em;
    color: $pure-white;
    background-image: url(../img/hero-small.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 0;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: -1;
    }

    .section-header {
        &__title {
            font-weight: 500;
            line-height: 1.3em;
            font-size: 3.6rem;
        }
    }

    .hl_thin {
        background-color: $main-Color;
    }

    @media(min-width: 375px) {
        .section-header {
            &__title {
                font-size: 4.4rem;
                font-weight: 300;
            }
        }
    }

    @media(min-width: 576px) {
        .section-header {
            &__title {
                font-size: 5.2rem;

            }
        }
    }

    @media(min-width: 992px) {
        .section-header {
            &__title {
                font-size: 5.8rem;
            }
        }
    }


    @media(min-width: 1100px) {
        .section-header {
            &__title {
                font-size: 6rem;
            }
        }
    }
}