### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

# 52 weeks cache
<FilesMatch "\.(ico|webp|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">
    Header set Cache-Control "max-age=31536000, public"
</FilesMatch>

# HTTP - HTTPS www na bez www
RewriteEngine on
RewriteCond %{HTTP_HOST} ^www.
RewriteCond %{HTTPS}s ^on(s)|off
RewriteCond http%1://%{HTTP_HOST} ^(https?://)(www.)?(.+)$
RewriteRule ^ %1%3%{REQUEST_URI} [R=301,L]

# friendly addresses
RewriteRule wizualizacje-architektoniczne index.html
RewriteRule oferta oferta.html
RewriteRule opis-wspolpracy wspolpraca.html
RewriteRule kontakt kontakt.html
RewriteRule wizualizacje-wnetrz realizacje-wnetrza.html

# 301 redirect
Redirect 301 /en/cat-architectural-visualizations https://vastudio.pl/
Redirect 301 /architectural-visualizations https://vastudio.pl/
Redirect 301 /pl/kontakt https://vastudio.pl/
Redirect 301 /pl/cat-mieszkaniowa-1 https://vastudio.pl/
Redirect 301 /pl/cat-swiatlo-wieczorne https://vastudio.pl/
Redirect 301 /pl/cat-architektura https://vastudio.pl/
Redirect 301 /pl/cat-wizualizacje-architektoniczne https://vastudio.pl/
Redirect 301 /en https://vastudio.pl/

Redirect 301 /proces-wspolpracy https://vastudio.pl/opis-wspolpracy
Redirect 301 /jak-powstaja-wizualizacje https://vastudio.pl/opis-wspolpracy


Redirect 301 /wizualizacje-architektoniczne https://vastudio.pl/

# strona error 404
ErrorDocument 404 /404.html