### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

# 52 weeks cache
<FilesMatch "\.(ico|webp|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">
    Header set Cache-Control "max-age=31536000, public"
</FilesMatch>

# HTTP - HTTPS
RewriteEngine on
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# friendly addresses
RewriteRule wizualizacje-architektoniczne index.html
RewriteRule oferta-wizualizacje-3d oferta.html
RewriteRule opis-wspolpracy wspolpraca.html
RewriteRule skontaktuj-sie kontakt.html
RewriteRule wizualizacje-wnetrz realizacje-wnetrza.html

# 301 redirect
Redirect 301 /en/cat-architectural-visualizations https://www.vastudio.pl/
Redirect 301 /architectural-visualizations https://www.vastudio.pl/
Redirect 301 /pl/kontakt https://www.vastudio.pl/
Redirect 301 /pl/cat-mieszkaniowa-1 https://www.vastudio.pl/
Redirect 301 /pl/cat-swiatlo-wieczorne https://www.vastudio.pl/
Redirect 301 /pl/cat-architektura https://www.vastudio.pl/
Redirect 301 /pl/cat-wizualizacje-architektoniczne https://www.vastudio.pl/
Redirect 301 /en https://www.vastudio.pl/
Redirect 301 /proces-wspolpracy https://www.vastudio.pl/opis-wspolpracy
Redirect 301 /kontakt https://www.vastudio.pl/skontaktuj-sie

# strona error 404
ErrorDocument 404 /404.html